<div class="p-grid p-dir-col">
  <div class="p-col-12 p-d-flex p-jc-between p-ai-center page-title">
    <h2>רשימת משימות</h2>
  </div>

  <div class="table-container">
    <p-table
      [value]="todos"
      styleClass="p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="80vh"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>מזהה ייחודי</th>
          <th>סוג</th>
          <th>כותרת</th>
          <th>תיאור</th>
          <th>התחלה</th>
          <th>סיום</th>
          <th>מחזורית</th>
          <th>הסתיימה</th>
          <th>בארכיון</th>
          <th>
            <p-button
              class="main-button"
              size="large"
              label="משימה חדשה"
              (onClick)="goToAddTodo()"
            ></p-button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-todo>
        <tr>
          <td>{{ todo.id }}</td>
          <td>{{ todo.taskType.name }}</td>
          <td>{{ todo.name }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.startDate | date: "dd/MM/yyyy" }}</td>
          <td>{{ todo.dueDate | date: "dd/MM/yyyy" }}</td>
          <td
            [innerHTML]="
              todo.isRepeating ? '<i class=\'pi pi-check\'></i>' : ''
            "
          ></td>
          <td>
            <p-checkbox
              [(ngModel)]="todo.completeDate"
              binary="true"
              [ngModel]="!!todo.completeDate"
            ></p-checkbox>
          </td>
          <td
            [innerHTML]="todo.isArchived ? '<i class=\'pi pi-check\'></i>' : ''"
          ></td>
          <td class="cta-buttons-cell">
            <p-buttonGroup class="cta-buttons-group">
              <p-button
                outlined
                size="small"
                [label]="todo.isArchived ? 'להחזיר' : 'לארכיון'"
                icon="pi pi-briefcase"
                (onClick)="archiveTask(todo)"
              ></p-button>
              <p-button
                outlined
                size="small"
                label="מחק"
                icon="pi pi-trash"
                (onClick)="deleteTask(todo.id)"
              ></p-button>
              <p-button
                outlined
                size="small"
                label="עדכן"
                icon="pi pi-sync"
                (onClick)="updateTask(todo)"
              ></p-button>
            </p-buttonGroup>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
